<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_main_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:windowSoftInputMode="adjustNothing"
        tools:targetApi="31">
        <activity
            android:name=".Timer.TimerPopupActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".Timer.TimerMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Timer.TimerActivity"
            android:exported="true" />
        <activity
            android:name=".Financial.Fin_ListItem"
            android:exported="false" />
        <activity
            android:name=".Financial.FinancialIncomeActivity"
            android:exported="false" />
        <activity
            android:name=".Financial.FinancialSpendActivity"
            android:exported="false" />
        <activity
            android:name=".Financial.FinancialMainActivity"
            android:exported="false" /> <!-- 액티비티 추가 -->
        <activity
            android:name=".Schedule.ScheduleInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Schedule.ScheduleAddActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Schedule.ScheduleMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Schedule.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.notification.ACTION_NOTIFICATION" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.EVENT_REMINDER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>